<div class="row marketing">
  <h4>Configuration</h4>
  <p>
  Please configure the CC.xml URLs, which project will be monitored and how often should the monitor refresh.
  </p>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form role="form" novalidate class="simple-form">
        <div ng-repeat="source in config.config.sources">
          <h3>Source {{$index + 1}}</h3>
          <fieldset>
            <div class="form-group">
              <label for="monitorSource{{$index}}Url">URL</label>
              <input type="text" id="monitorSource{{$index}}Url" class="form-control" ng-model="source.url" />
            </div>
            <div class="form-group">
              <label>Selected projects</label>
              <div ng-repeat="project in source.projects track by $index">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="source.projects[$index]" />
                  <span class="input-group-btn">
                    <button ng-click="source.projects.splice($index)" class="btn btn-default">Remove</button>
                  </span>
                </div>
              </div>
            </div>
            <button ng-click="source.projects.push('')" class="btn btn-default">Add project</button>
          </fieldset>
        </div>
        </hr>
        <h3>Advanced Configuration</h3>
        <div class="form-group">
          <label for="monitorConfigRefresh">Refresh Interval (seconds)</label>
          <input type="text" id="monitorConfigRefresh" class="form-control" ng-model="config.config.refreshInterval" />
        </div>
        <a href="#/monitor" class="btn btn-default">OK</a>
        <button ng-click="config.addSource()" class="btn btn-default">Add new source</button>
        <button ng-click="config.reset()" class="btn btn-default">Reset</button>
        <button ng-click="config.download()" class="btn btn-default">Save</button>
        <input type="file" id="file" name="file" ng-hide="true" onchange="angular.element(this).scope().config.upload(this, angular.element(this).scope())" />
      </form>
    </div>
  </div>
</div>
