<div class="monitor-view">
  <div class="monitor-container">
    <div class="error-msg" ng-show="builds.error">
      {{builds.errorMessage}}
    </div>
    <div class="update-info" ng-hide="build.error">
      Last updated: {{builds.lastUpdate}}
    </div>
    <div class="projects-results">
      <div ng-repeat="b in builds.all | orderBy:['-lastBuildTime']" class="project-container">
        <div class="project-box" ng-class="{'project-status-running': b.activity == 'Building', 'btn-success': b.lastBuildStatus == 'Success', 'btn-danger': b.lastBuildStatus == 'Failure' || b.lastBuildStatus == 'Exception', 'btn-warning': b.lastBuildStatus == 'Warning', 'btn-info': b.lastBuildStatus == 'Unknown'}">
          <a href="{{b.webUrl}}">
            <div class="build-label">{{b.lastBuildLabel}}</div>
            <div class="project-name">{{b.name}}</div>
            <div class="build-time" am-time-ago="b.lastBuildTime"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="spinner" ng-show="spinning.loading">
    <img src="images/loading.gif" class="ajax-loader" width="32" height="32"/>
  </div>
  </hr>
  <div class="col-md-6">
    <form role="form" novalidate class="simple-form">
      <div class="form-group">
        <label for="monitorConfigUrl">URL</label>
        <input type="text" id="monitorConfigUrl" class="form-control" ng-model="config.url" />
      </div>
      <div class="form-group">
        <label for="monitorConfigProjects">Projects</label>
        <input type="text" id="monitorConfigProjects" class="form-control" ng-model="config.projects" />
      </div>
      <div class="form-group">
        <label for="monitorConfigRefresh">Refresh Rate (seconds)</label>
        <input type="text" id="monitorConfigRefresh" class="form-control" ng-model="config.refreshRate" />
      </div>
      <button ng-click="config.reconfig()" class="btn btn-default">OK</button>
    </form>
  </div>
</div>
