

<div class="monitor-view">
  <div class="monitor-container">
    <div class="error-msg" ng-show="builds.error">
      {{builds.errorMessage}}
    </div>
    <div class="projects-results">
      <div ng-repeat="b in builds.all | orderBy:['-lastBuildTime']" class="project-container">
        <div class="project-box" ng-class="{'project-status-running': b.activity == 'Building', 'btn-success': b.lastBuildStatus == 'Success', 'btn-danger': b.lastBuildStatus == 'Failure' || b.lastBuildStatus == 'Exception', 'btn-warning': b.lastBuildStatus == 'Warning', 'btn-info': b.lastBuildStatus == 'Unknown'}">
          <a href="{{b.webUrl}}">
            <div class="build-label">{{b.lastBuildLabel}}</div>
            <div class="project-name">{{b.name}}</div>
            <div class="build-time" am-time-ago="b.lastBuildTime"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="update-info">
    Last updated: {{builds.lastUpdate}}
  </div>
  <div class="spinner" ng-show="spinning.loading">
    <img src="images/loading.gif" class="ajax-loader" width="32" height="32"/>
  </div>
</div>
